.answers div {
	background-color: #337ab7;
	color: #FFFFFF;
	border: 2px lightgray solid;
	border-radius: 6px;
	cursor: pointer;
}

.answers div.selected {
	background-color: blueviolet;
}

.answers div.success {
	background-color: green;
}

.answers div.error {
	background-color: red;
}

.answers div:hover {
	background-color: #31708F;
}

.answers div:hover:active {
	background-color: #286090;
}

.answers div.disabled {
	visibility: hidden;	
}